
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  background-color: #f9f9f9;
}
.products-Wrapper {
  max-width: 1210px;
  margin: 20px auto 0 auto;  /* 100px top margin to avoid navbar overlap */
  padding: 0 2rem;
  gap: 6px;
}
.section-heading {
  text-align: left;
  color: #364153;
  margin-bottom: 20px;
  font-weight: 600;
}
.highlighted {
 display: inline-block;
  border-bottom: 2px solid  #44AE7C;
  padding-bottom: 8px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.75rem;
}
.product-card img {
  width: 400px;
  height: 120px;
  object-fit: contain;
  transition: transform 0.4s ease, filter 0.4s ease;
}
.product-card img:hover {
  transform: scale(1.2);
}

.product-card h4 {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  color: #364153;
}

.product-card p {
  margin: 0.25rem 0;
  color:#364153;
}
